.hdashboard a:hover {
    background: var(--muted);
    border-radius: .35rem;
}

.hdashboard a.active {
    border: none;
    position: relative;
}

.hdashboard a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    height: 1.5px;
    background: black;
    width: 100%;
    margin: 0 auto;
}