.sidebarnavs  {
    background: none;
}

.sidebarnavs.active {
    background: var(--muted);
}

.hdashboard a {
    /* padding: .2rem .5rem; */
    /* border: .7px solid rgba(0, 0, 0, 0.152); */
    /* border-radius: .5rem; */
    /* transition: .3s ease-in-out; */
}

.hdashboard a:hover {
    font-weight: 500;
}

.hdashboard a.active {
    background: var(--primary);
    border: none;
    font-weight: 500;
}